<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Card:</strong>
  <%= @order.card %>
</p>

<p>
  <strong>Code:</strong>
  <%= @order.code %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @order.expire %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
