<div class="jumbotron">

<h1 style="color:blue ;">Buy Now</h1>

</div>

  <h3 class="current-category" style="color:blue" > <%= params[:category] %></h3>
  
  <% if @products.count== 0 %>

  <h3> There are  no Items currently for that category </h3>

  <%else%>
<div class="row">
 <% @products.each do |product| %>
  <div class=" col-md-3">
    <div class="thumbnail">
     <%= link_to image_tag(product.image.url), product %>
     
      <div class="caption">
        <h3><%= product.name %></h3>
        <p><%= number_to_currency(product.price) %></p>
     
        
      </div>
    </div>
  </div>
   <% end %>
</div>



<br>
<% unless @products.empty? %>

<nav>
  <ul class="pager">
    <li class="previous " <%= will_paginate @products %> <span aria-hidden="true">&larr;
   
  </ul>
</nav>
<% end %>
<% end %>

